*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



    /* <!-- HEAD AREA STARTS--> */


.main{
    height: 80vh;
    width: 100%;
    background-color: rgb(66, 27, 207);
    position: relative;
}
nav{
    width: 84%;
    margin: auto;
    padding-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px, 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    letter-spacing: 0.5px;
    padding: 0 20px;
}
.info{
    margin-top: 15%;
    margin-left: 40%;
}
.info h1{
    color: white;
    font-size: 75px;
}


        /* <!-- HEAD AREA ENDS--> */




        /* <!-- SERVICES AREA STARTS--> */


#services{
    padding-top: 50px;
    padding-bottom: 50px;
}
.services-row{
    width: 70%;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.services-col1{
    flex-basis: 25%;
    max-width: 60%;
    margin-left: -15%;
}
.services-col1 img{
    width: 100px;
}
.services-col1 h4{
    margin-top: 10px;
}
.services-col1 p{
    margin-top: 10px;
}
.line{
    background-color: dodgerblue;
    display: inline-block;
    height: 5px;
    width: 80px;
}
.services-col2{
    flex-basis: 25%;
    max-width: 60%;
    margin-left: -5%;
}
.services-col2 img{
    width: 100px;
    
}
.services-col2 h4{
    margin-top: 10px;
}
.services-col2 p{
    margin-top: 10px;
}
.services-col3{
    flex-basis: 25%;
    max-width: 60%;
    margin-left: -5%;
}
.services-col3 img{
    width: 100px;
}
.services-col3 h4{
    margin-top: 10px;
}
.services-col3 p{
    margin-top: 10px;
}
.services-col4{
    flex-basis: 25%;
    max-width: 60%;
    margin-left: -5%;

}
.services-col4 img{
    width: 100px
}
.services-col4 h4{
    margin-top: 10px;
}
.services-col4 p{
    margin-top: 10px;
}

    /* <!-- SERVICES AREA ENDS--> */


    /* <!-- WORK AREA STARTS--> */
.working-area{
    height: 100vh;
    background-color: #edf2ff;;
}
.working img{
    margin-left: 40%;
} 
.working h1{
    text-align: center;
}
.working p{
    margin-top: 1%;
    margin-left: 34%;
    max-width: 30%;
    text-align: center;
}
.number-row{
    width: 80%;
    margin: auto;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.number-col{
    flex-basis: 25%;
    text-align: center;
}
    /* <!-- WORK AREAS ENDS--> */


    /* TECHNOLOGY SECTION STARTS */

.tech{
    height: 100vh;
}
.tech img{
    margin-left: 40%;
}
.tech h1{
    margin-left: 42%;
    margin-top: -2%;
}
.tech-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.tech-col1{
    flex-basis: 33%;
    margin-left: -20%;
}
.tech-col2{
    flex-basis: 10%;
    margin-left: 25%;
}
.tech-col3{
    flex-basis: 10%;
    margin-left: 5%;
}

/* TECHNOLOGY SECTION ENDS */